$cmncolor: #d5d52b;
$cmnbackcolor: #627842;
$headercolor: #80aa55;

@mixin keyframes($animation-name: animation) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  } 
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

@include keyframes(hideleftrotate){
    0% {
        transform: rotateY(0deg);
        left: 0;
    }
    100% {
    	transform: rotateY(90deg);
        left: -50%;
        opacity: 0;
    }
}

@include keyframes(showleftrotate){
    0% {
        transform: rotateY(90deg);
        left: 50%;
    }
    100% {
    	transform: rotateY(0deg);
        left: 0;
        opacity: 1;
    }
}

@include keyframes(hiderightrotate){
    0% {
        transform: rotateY(0deg);
        left: 0;
    }
    100% {
    	transform: rotateY(90deg);
        left: 50%;
        opacity: 0;
    }
}

@include keyframes(showrightrotate){
    0% {
        transform: rotateY(90deg);
        left: -50%;
    }
    100% {
    	transform: rotateY(0deg);
        left: 0;
        opacity: 1;
    }
}


@font-face {
	font-family: 'migfont';
	src: url(/font/migmix-2m-regular.ttf);
}

body {
	font-family: migfont;
	background-color: $cmnbackcolor;

	> div.ui:nth-of-type(n+2) {
		margin-top: 3em;
	}

	> div.ui:first-of-type {
		margin-top: 4em;
	}

	> div.ui:nth-of-type(3) > div {
		top:0;
		left:0;
		bottom:0;
		right:0;
		margin: 0 auto;
	}
	
	> 	div.ui > h1.ui.header {
		margin-left: 3em;
	}
}

div.ui.secondary.menu {
	position:fixed !important;
  z-index: 99!important;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $headercolor;
}

