doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		title kuririnz github io
		link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
		link(rel="stylesheet" type="text/css" href="css/common.css")
	body
		.ui
			h1#about.ui.header about
			.ui.two.column.centered.grid
				.ui.small.image
					img.ui.circular.image.centered(src="img/kuririnz_logo.png")
				h2.ui.header.bottom kuririnz
					.sub.header engineer
		.ui
			h1#work.ui.header work
			.ui.four.column.grid.centered
				.column
					#daysalarm.ui.fluid.card
						.ui.slide.masked.reveal.image
							img(src="img/daysalarm_pre.png").visible.content
							img(src="img/daysalarm.png").hidden.content
						.content
							a.header(href="https://play.google.com/store/apps/details?id=com.hjds_sakan.daysalarm") daysalarm
							.meta
								a 2014.06.12
				.column
					#kkactsheet.ui.fluid.card
						.ui.slide.masked.reveal.image
							img(src="img/kklistactionsheet_pre.png").visible.content
							img(src="img/kklistactionsheet.png").hidden.content
						.content
							a.header(href="https://github.com/kuririnz/KkListActionSheet-Swift") KkListActionSheet-swift
							.meta
								a 2015.10.14
		.ui
			h1#skill.ui.header skill
			div
				svg#graph
		.ui
			h1#contact.ui.header contact
		.ui.eleven.column.centered.grid
			.ui.column.tiny.image
				a(href="https://twitter.com/kuririns0328" target="_blank")
					img.centered(src="img/twitter_logo.png" width="60" height="60")
			.ui.column.tiny.image
				a(href="https://www.facebook.com/kuririnz" target="_blank")
					img(src="img/fb_logo.png" width="60" height="60")
			.ui.column.tiny.image
				a(href="https://github.com/kuririnz" target="_blank")
					img(src="img/github_logo.png" width="60" height="60")
		.ui.secondary.menu
			a.item(href="javascript:void(0)") about
			a.item(href="javascript:void(0)") work
			a.item(href="javascript:void(0)") skill
			a.item(href="javascript:void(0)") contact

		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="semantic/dist/semantic.min.js")
		script(type="text/javascript" src="js/lib/d3.min.js" charset="utf-8")
		script(type="text/javascript" src="js/index.js")
