<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="robots", content="noindex")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Self Introduction
		link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
		link(rel="stylesheet" type="text/css" href="css/common.css")
		link(rel="stylesheet" type="text/css" href="css/introduction.css")
	body
		.ui
			h1#about.ui.header 自己紹介
			.ui.two.column.centerd.grid
				.column.center.aligned
					.ui.medium.image
						img.ui.circular.image(src="img/introduction.png")
				.column
					.ui.one.column.grid
						.coloum.space
							h2.ui.header 栗林 慶輔(くりばやし けいすけ)
						.column.space
							h2.ui.header 1987年 3月 28日 (32歳)
						.column.space
							h3.ui.header 仕事
							.ui.vertical.segment
								p SI系企業を転々とすること11年<br>5年目頃から一般向けにiOS/Androidなどモバイルアプリ開発スクールの講師を経験<br>近年は一年の半分を研修、残り半分を開発という働き方に落ち着く
						.coloum.space
							h3.ui.header 趣味
							.ui.list
								.item スノーボード
								.item 登山
								.item 息子と遊ぶ
							.segment
								.p 今シーズンはナローボックスでサイドインデビューしました